<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236621853328-g4j3amdjt2e805oo6rktllcvh8lef89u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236621853328-g4j3amdjt2e805oo6rktllcvh8lef89u</string>
	<key>API_KEY</key>
	<string>AIzaSyBjcBuOfL5bMKOA8R-21g3LzAodl68YYZw</string>
	<key>GCM_SENDER_ID</key>
	<string>236621853328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azb.scribl</string>
	<key>PROJECT_ID</key>
	<string>scribl-b0428</string>
	<key>STORAGE_BUCKET</key>
	<string>scribl-b0428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236621853328:ios:5054dc3446c34d85aede15</string>
	<key>DATABASE_URL</key>
	<string>https://scribl-b0428.firebaseio.com</string>
</dict>
</plist>